<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" ~/Content="width=device-width, initial-scale=1.0">
    <meta name="description" ~/Content="">
    <meta name="author" ~/Content="">
    <title>Sosyal Sorumluluk</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link href="~/Content/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Content/js/html5shiv.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head--> 

  


<body>
    <header id="header">
        <!--header-->
        <div class="header_top">
            <!--header_top-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="contactinfo">
                            <ul class="nav nav-pills">

                                <li><a href="#"><i class="fa fa-envelope"></i> info@sosyalsorumluluk.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="social-icons pull-right">
                            <ul class="nav navbar-nav">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header_top-->

        <div class="header-middle">
            <!--header-middle-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="logo pull-left">
                            <a href="/Home/Index"> <i class="fa fa-star"> <font size="5" color="orange"> Sosyal Sorumluluk </font></i> </a>
                        </div>




                    </div>
                    <div class="col-sm-8">
                        <div class="shop-menu pull-right">
                            <ul class="nav navbar-nav">

                                @if (Session["kullaniciid"] != null)
                                {

                                    <li class="dropdown">


                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @Session["mail"].ToString()<b class="caret"></b></a>
                                        <ul class="dropdown-menu">



                                            <li>
                                                <a href="/Uye/Index/@Session["kullaniciid"]"><i class="fa fa-fw fa-user"></i>Profil</a>
                                            </li>

                                             


                                            @if (Convert.ToInt32(Session["yetkiid"]) == 1)
                                            {
                                                <li>
                                                    <a href="/Admin/Index/" target="_blank"><i class="fa fa-fw fa-gear"></i>Admin Paneli</a>
                                                </li>
                                            }

                                            <li class="divider"></li>
                                            <li>
                                                <a href="/Uye/Logout/"><i class="fa fa-fw fa-power-off"></i>Çıkış</a>
                                            </li>



                                        </ul>

                                    </li>






                                }



                                else
                                {

                                    <li><a href="/Uye/Create/"><i class="fa fa-user"></i>Üye Ol</a></li>
                                    <li><a href="/Uye/Login"><i class="fa fa-lock"></i>Giriş Yap</a></li>



                                }












                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/header-middle-->

        <div class="header-bottom">
            <!--header-bottom-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-9">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="mainmenu pull-left">
                            <ul class="nav navbar-nav collapse navbar-collapse">
                                <li><a href="/Home/Index/" class="active">AnaSayfa</a></li>


                                <li><a href="/Home/Hakkimizda/">Hakkımızda</a></li>
                                <li><a href="/iletisim/Index/">İletişim</a></li>

                           
                                   
                             
                              



                            </ul>
                        </div>
                    </div>
                   

                  @using (Html.BeginForm("SiteAra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                  {

                    <div class="col-sm-3">
                        <div class="searchform pull-right">
                            <input type="text" id="Ara" name="Ara" placeholder="Ara" class="input-group-btn" />
                            <button class="btn btn-default" value="Ara" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>

                     
                  }

             



                </div>
            </div>
        </div><!--/header-bottom-->
    </header><!--/header-->




    <section>
         
        <div class="container">

             <div class="row">

            <div class="col-md-12">

             
                    
                     


                        @RenderBody()









                


            </div>















             </div>




















        </div>



    </section>






    <footer  id="footer">
        <!--Footer-->


        <div class="footer-widget">
            <div class="container">
                <div class="row">


                    <div class="col-sm-2">
                        <div class="single-widget">
                           <h2>Politikalar</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/Home/KullaniciSozlesmesi/">Kullanıcı Sözleşmesi</a></li>
                                <li><a href="/Home/GizlilikPolitikasi/">Gizlilik Politikası</a></li>

                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-3 col-sm-offset-1">
                        @*<div class="single-widget">
                            <h2>Eklenen Ürünlerden Haberiniz Olsun.</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="E-mail Adresinizi Giriniz." />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>

                            </form>
                        </div>*@
                    </div>

                </div>



            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <p class="pull-left">Copyright © 2017 Sosyal Sorumluluk Inc. All rights reserved.</p>
                </div>
            </div>
        </div> 

  

    </footer><!--/Footer-->


    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.scrollUp.min.js"></script>
    <script src="~/Content/js/jquery.prettyPhoto.js"></script>
    <script src="~/Content/js/main.js"></script>




</body>

</html> 