@model Sosyal_Sorumluluk_Projesi.Models.kategoriler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>Kategori Detayları</h2>

<div>
    <h4>kategoriler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.kategoriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategoriAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Detaylar", "Edit", new { id = Model.kategoriID }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
