
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
  
    



        
        
<div class="col-sm-12">

    <div>


        <hr />

        <h2>Gizlilik Politikası</h2>


        <span>  İşbu Gizlilik Politikası’nın amacı, Sosyal Sorumluluk Bilgi Teknolojileri Pazarlama ve Ticaret Anonim Şirketi (“Sosyal Sorumluluk” veya “Şirket”) tarafından yönetilmekte olan http://www.Sosyal Sorumluluk.com/  adresinde yer alan web sitesinin, (“Portal”) kullanımı sırasında elde edilen ve/veya üçüncü kişilerden alınan kişisel verilerin kullanımına ilişkin koşul ve şartları tespit etmektir. İşbu Gizlilik Politikası’nda tanımlanmayan ifadelerin yorumlanmasında Kullanım ve Üyelik Sözleşmesi’ndeki tanımlar dikkate alınacaktır. Kullanıcılar,  Üyelik Sözleşmesi’ni kabul etmeleri üzerine işbu Gizlilik Politikası’nı da kabul etmiş sayılacaktır. Bununla beraber işbu gizlilik politikası aynı zamanda üyelik ilişkisi dışında kullanıcıların kişisel verilerinin işlenmesine ilişkin bilgilendirme niteliğini haizdir.
Kurumsal Üyeler, davet edecekleri Alt Kullanıcı’ların işbu Gizlilik Politikası hükümlerini bizzat onaylamaları gerektiğini kabul etmektedir. Bu doğrultuda Kurumsal Üye belirleyeceği her alt kullanıcıdan:
·         Onay alınacağını,
·         Onay alınmazsa, Alt Kullanıcı’nın Portal’i kullanamayacağını,
·         Her bir Alt Kullanıcı için ayrı ayrı onay alınacağını taahhüt eder.
Sosyal Sorumluluk, teknolojiye yatırım yaparak yenilikçi ürün ve hizmet uygulamaları ile internet alanında Kullanıcılarına daha iyi hizmet vermek için sürekli kendisini yenilemekte ve en iyi hizmeti verebilmek için çalışmaktadır. Sosyal Sorumluluk, bu amacını gerçekleştirebilmek için Kullanıcıların kişisel verilerini aşağıda detayları açıklanan kapsam ve koşullarda işlemektedir.
Veriler Nasıl Elde Edilmektedir? <br />
            <br />
Sosyal Sorumluluk, daha etkin bir şekilde çalışmak ve size en iyi deneyimi sunmak için kişisel verilerinizi toplamaktadır. Verileriniz, aşağıdaki yöntemler kullanılarak toplanmaktadır:
·           Doğrudan Tarafımıza Vermiş Olduğunuz Veriler: Hizmet’in ifası için ve Portal’ın kullanımı öncesinde veya sırasında, Sosyal Sorumluluk’e Kullanıcıların kendi inisiyatifleri doğrultusunda verdikleri kişisel verileri ifade eder. Bu kişisel veriler, doğrudan Kullanıcılar tarafından Sosyal Sorumluluk’e verilen tüm kişisel verileri kapsar. Örneğin, ad-soyad, iletişim bilgileri, kimlik bilgileri, anketlere verilen cevaplar, demografik veriler ve içerik bilgileri bu tür verilere girmektedir.

·           Platformumuzu Kullandığınız Zaman Elde Ettiğimiz Veriler: Sosyal Sorumluluk’in sunduğu hizmet sırasında, belirli yazılım ya da teknolojik araçlar vasıtasıyla Kullanıcıların kullanım alışkanlıklarına ilişkin kişisel verileri kapsamaktadır. Örneğin, konum verileri ve sık kullanılanlar ile birlikte ilgi alanları ve kullanım verileri bu tür verilere girmektedir.
            
Sosyal Sorumluluk, online davranışsal reklamcılık ve pazarlama yapılabilmesi amacıyla siteye gelen kullanıcının üye olmasalar dahi sitedeki davranışlarını tarayıcıda bulunan bir cookie (çerez) ile ilişkilendirme ve görüntülenen sayfa sayısı, ziyaret süresi ve hedef tamamlama sayısı gibi metrikleri temel alan yeniden pazarlama listeleri tanımlama hakkını haizdir. Daha sonra bu kullanıcıya sitede ya da Görüntülü Reklam Ağı’ndaki diğer sitelerde, kullanıcıların ilgi alanlarına göre hedefe yönelik reklam içeriği gösterilebilir.
Google AFS reklamlarının Sosyal Sorumluluk’e yönlendirilmesi esnasında Google kullanıcıların tarayıcısına çerez yerleştirebilir veya bunlarda yer alan çerezleri okuyabilir veya bilgi toplamak amacı ile web işaretleri kullanabilir.
Verilerin toplanmasına ilişkin detaylı bilgiyi aşağıda bulabilirsiniz.
Hangi Veriler Toplanmaktadır? <br />
            <br />
Sosyal Sorumluluk, yukarıda belirtilen metotlarla Kullanıcılardan çeşitli statik (sabit) ve dinamik (değişken) veriler toplamaktadır. Sosyal Sorumluluk’in topladığı veriler, kullandığı hizmetler ile özelliklere bağlıdır.
İşbu başlık altında, Sosyal Sorumluluk tarafından sunulan Hizmetler kapsamında işlenen ve 6698 Sayılı Kişisel Verilerin Korunması Kanunu uyarınca kişisel veri sayılan verilerin hangileri olduğu aşağıda gruplar halinde sıralanmıştır. Aksi açıkça belirtilmedikçe, işbu Gizlilik Politikası kapsamında arz edilen hüküm ve koşullar kapsamında “kişisel veri” ifadesi aşağıda yer alan bilgileri tanımlamaktadır. Ad ve İletişim Bilgileri: Ad, soyadı, telefon, adres, e-mail adresi, fatura bilgileri, TC kimlik numarası (ulusal kimlik numarası), kimlik fotokopisi ve diğer benzer veriler. Kimlik Doğrulama Bilgileri: Kullanıcıların üyelik bilgileri, kimliği doğrulamak için ve hesaba erişimi sağlamak için kullanılan parolaları, Kullanıcı Adı, kontak bilgileri, parola ipuçları, Kullanıcı numaraları, ilan numaraları. Demografik Veriler: Doğum tarihi, yaş, cinsiyet, meslek, tercih edilen dil ve benzeri veriler.
·           Kullanım Verileri ve Sık Kullanılanlar: Çeşitli yazılım ve teknolojik araçlar vasıtasıyla cihazlarınızdan toplanan veriler dahil ancak bunlarla sınırlı olmamak üzere Sosyal Sorumluluk’i veya Çağrı Merkezlerini arama nedenleriniz, emlak endeksi kullanım bilgileri, ürünün kullanıldığı tarih ve saat verileri, endeks sorgusu oluşturulan il, ilçe, mahalle, Portal üzerinden bakılan ürünler, metrekare fiyatları, önceliklendirme seçenekleri, tercih edilen geri dönüş metodu ve tarihi, cevap verilen kanallar, Portal’a son giriş tarihi, kullanılan Doping türü, gönderi türü, ziyaret edilen web siteleri,  girilen arama terimleri, ziyaret edilen ürün ve ilanların kategorileri, hizmet kullanımı sırasında oluşan hatalar ve benzeri veriler.

·           Konum Verileri: Kullanıcıların hassas veya yaklaşık konumları ile ilgili verileri kapsar. GPS verisi ile IP ve port adreslerinden çıkarılan konum verisi, kullanıcı Sosyal Sorumluluk’in mobil uygulamalarını kullanırken, kendi bulunduğu konumun etrafındaki ilanları aramak istemesi durumunda ve kullanıcının izin vermesi halinde kullanılır.

·           Ödeme Verileri: Ajans ve müşteri fatura ve ödeme bilgileri (ad-soyadı- fatura adresi), üyeye gönderilen faturalar ve üyelerden alınan ödemelere ait dekont örnekleri, ödeme numarası, fatura numarası, fatura tutarı, fatura kesim tarihi gibi veriler.

·           İçerik Verileri: Markanın sahte olmadığına dair talep edilen belgeler (fatura, garanti belgesi vs), ürünün kişiye ait olduğunu ya da ürün üzerindeki yetkisini gösteren belgeler (tapu, ruhsat, marka tescil belgesi gibi), ilan bilgileri, üyelik bilgileri, bildirim açıklaması, çözüm açıklaması, memnuniyet, bildirim nedeni, müşteri notu, yenileme tarihi, ilan reddetme nedeni, geri bildirim, belge gönderim nedeni, Hizmet’in kullanımı sırasında belirtilen hata içeriği, ara bilgilendirme durumu, ara bilgilendirme, arama nedeni gibi benzer veriler.
            <br />
Parmak izimi vermek zorunda mıyım?<br />
            <br />
Mobil uygulamada şifre kullanımı yerine parmak izi ile giriş uygulamasını tercih edebilirsiniz. Mobil cihazın ayarlar kısmından yapacağınız parmak izi tanımlaması ile gerçekleştirilecek işlem kapsamında Sosyal Sorumluluk’e parmak iziniz hiçbir şekilde iletilmeyecektir. Mobil cihaz üzerinden Sosyal Sorumluluk’e sadece doğrulama ya da hata uyarısı gelmekte ve buna istinaden uygulamaya girişiniz sağlanmaktadır. Onay gelmediği takdirde işlemi tekrarlamaya ya da başka bir yolla giriş yapmaya yönlendirilirsiniz. Parmak izi ile giriş seçeneğini cihazınızın ayarlar bölümünden her zaman kapatabilirsiniz.
Toplanan Veriler Hangi Amaçla Kullanılmaktadır?<br />
            <br />
İşbu Gizlilik Politikasında ve Üyelik Sözleşmesinde yer alan amaçlar doğrultusunda kişisel verileriniz, 6698 Sayılı Kişisel Verilerin Korunması Kanunu uyarınca ve aşağıda detayları belirtilen amaçlar dairesinde işlenecektir.
Yukarıda yer alan veri kategorilerinin hangi amaçla işleneceklerine dair detaylı bilgiyi aşağıda bulabilirsiniz.
Ad ve İletişim Bilgileri: şirket içi değerlendirme, iletişim, Kullanıcı kayıt, potansiyel müşteri bilgisi elde etmek, satış sonrası süreçlerin geliştirilmesi, iş geliştirme, tahsilat, müşteri portföy yönetimi, promosyon,  analiz, şikayet yönetimi, müşteri memnuniyeti süreçlerini yönetmek, pazarlama, reklam, araştırma, faturalandırma, etkinlik bilgilendirmesi, operasyonel faaliyetlerin yürütülmesi, hizmet kalitesinin ölçülmesi, geliştirilmesi, denetim, kontrol, optimizasyon, müşteri doğrulama, pazarlama, satış, reklam, satış sonrası hizmetleri, dolandırıcılığın tespit edilmesi;
Kimlik Bilgileri: Kullanıcı kayıt, sorun/hata bildirimi, kontrol, operasyonel faaliyetlerin geliştirilmesi, yürütülmesi, satış sonrası süreçlerin geliştirilmesi, iş geliştirme, tahsilat, şirket içi değerlendirme, müşteri portföy yönetimi, hizmet kalitesinin ölçülmesi, iletişim,  optimizasyon, denetim, risk yönetimi;
Demografik Veriler: promosyon, şirket içi değerlendirme, analiz, iletişim, satış sonrası süreçlerin geliştirilmesi, iş geliştirme, tahsilat, Kullanım verileri ve ilgi alanları-sık kullanılanlar: Pazarlama, satış, reklam, denetim ve kontrol, risk yönetimi, satış sonrası süreçlerin geliştirilmesi, iş geliştirme, tahsilat, şirket içi değerlendirme, müşteri portföy yönetimi, satış sonrası hizmetler, hizmet kalitesinin ölçülmesi, geliştirilmesi, iletişim, şikayet yönetimi süreçlerini yürütmek, operasyonel faaliyetlerin yürütülmesi ve geliştirilmesi, kayıt, sorun/hata bildirimi;
Konum verileri: Denetim ve kontrol, risk yönetimi;
Ödeme Verileri: Faturalandırma sürecini yönetmek, muhasebe, satış sonrası süreçlerin geliştirilmesi, iş geliştirme, tahsilat, şirket içi değerlendirme, müşteri portföy yönetimi, satış sonrası hizmetler, iletişim, pazarlama, denetim, kontrol, ödeme hizmet sağlayıcıları ile yürütülen süreçler kapsamında;
İçerik: İş geliştirme, optimizasyon, müşteri portföy yönetimi, denetim, kontrol, operasyonel faaliyetlerin geliştirilmesi, iş geliştirme, promosyon, şirket içi değerlendirme, müşteri yönetimi, analiz, satış sonrası süreçlerin geliştirilmesi, tahsilat, satış sonrası hizmetler, iletişim, hizmet kalitesi ölçülmesi, geliştirilmesi, şikayet yönetimi süreçlerini yürütmek amacıyla işlenebilecektir.
Sosyal Sorumluluk tarafından Portal dâhilinde düzenlenen periyodik anketlere cevap veren kullanıcılardan talep edilen bilgiler, Sosyal Sorumluluk ve işbirliği içindeki kişiler tarafından bu kullanıcılara doğrudan pazarlama yapmak, istatistikî analiz yapmak, süreçlerini iyileştirmek ve veri tabanı oluşturmak amacıyla kullanılmaktadır.
Kişisel Veriler Nerede Depolanır ve İşlenir?<br />
            <br />
Elde ettiğimiz kişisel verileriniz yurtiçinde veya yurtdışında Sosyal Sorumluluk’in ya da bağlı kuruluşlarının, alt kuruluşlarının veya işbirliği içinde bulunduğu hizmet servis sağlayıcılarının tesisi bulunan başka bir ülkede depolanabilir ve işlenebilir.
İşbu Gizlilik Politikası kapsamında toplanan kişisel verileriniz burada yer alan hükümlere ve verilerin depolandığı ve işlendiği ülkede yürürlükte olan mevzuat kapsamında ve öngörülen güvenlik önlemleri dâhilinde işlenecektir.
Veriler Kimlerle Paylaşılmaktadır?<br />
            <br />
Sosyal Sorumluluk, Kullanıcıya ait kişisel verileri ve bu kişisel verileri kullanılarak elde ettiği yeni verileri, Üyelik Sözleşmesi ve Hizmetler’in ifası, Kullanıcı deneyiminin geliştirilmesi (iyileştirme ve kişiselleştirme dahil), Kullanıcıların güvenliğini sağlamak, dolandırıcılığı tespit etmek, Hizmet’lerin geliştirilmesi, operasyonel değerlendirme araştırılması, hataların giderilmesi, Kullanıcı kimliklerinin doğrulanması ve işbu Gizlilik Politikası’nda yer alan amaçlardan herhangi birisini gerçekleştirebilmek için dış kaynak hizmet sağlayıcılar, kargo şirketleri, hukuk büroları, araştırma şirketleri, çağrı merkezleri, şikayet yönetimi ve güvenliğin sağlanmasına ilişkin yazılım şirketleri, ajanslar, danışmanlık şirketleri, basım sektöründe yer alan şirketler, sosyal medya mecraları dahil ancak bunlarla sınırlı olmamak üzere üçüncü kişiler ile paylaşabilecektir.

Ayrıca, Kullanıcının Ad ve İletişim Bilgileri, ödeme aşamasında onaylayacağı ödeme kuruluşu çerçeve sözleşmesi uyarınca ve 9 Ocak 2008 tarihli ve 26751 sayılı Resmi Gazete’de yayımlanan Suç Gelirlerinin Aklanmasının ve Terörün Finansmanının Önlenmesine Dair Tedbirler Hakkında Yönetmelik uyarınca kimlik doğrulaması gerçekleştirilmesi amacıyla ödeme kuruluşlarıyla paylaşılabilecektir.
Cihazınıza yerleştirilen çerezler aracılığıyla elde edilen kişisel verileriniz üçüncü kişiler ile işbu Gizlilik Politikasında belirtilen kapsam ve amaçlarla paylaşılabilecektir.
Sosyal Sorumluluk kişisel verileri yukarıda belirtilen kategoriler dahilinde yurt içinde üçüncü kişilere aktarabileceği gibi yurt dışına da aktarabilecektir.
            <br />
Verilerinize Erişim Hakkınız ve Düzeltme Talepleriniz<br />

Kullanıcı, Sosyal Sorumluluk’a başvurarak kendisiyle ilgili;
·         Kişisel verilerin işlenip işlenmediğini öğrenme,
·         Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,
·         Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,
·         Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,
·         Kişisel verilerin eksik veya yanlış işlenmiş olması halinde bunların düzeltilmesini isteme,
·         İlgili mevzuatta öngörülen şartlar çerçevesinde kişisel verilerin silinmesini veya yok edilmesini isteme,
·         İlgili mevzuat uyarınca yapılan düzeltme, silme ve yok edilme işlemlerinin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,
·         İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,
·         Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması halinde zararın giderilmesini talep etme,
haklarına sahiptir.
Kullanıcı, yukarıda belirtilen taleplerini aşağıda yer alan “Bize Nasıl Ulaşabilirsiniz?” maddesinde belirtilen iletişim kanalı ile Sosyal Sorumluluk’e iletebilecektir. Sosyal Sorumluluk, yukarıda yer alan talepler uyarınca, gerekçeli olumlu/olumsuz yanıtını, yazılı veya dijital ortamdan gerçekleştirebilir.
Taleplere ilişkin gerekli işlemler için ücret alınmaması esastır. Bununla birlikte, işlemlerin bir maliyet gerektirmesi halinde, Kişisel Verilerin Korunması Kurulu tarafından, 6698 Sayılı Kişisel Verilerin Korunması Kanunu’nun 13. Maddesine göre belirlenen tarife üzerinden ücret talep edilmesi mümkündür.
Kişisel Verileri Saklama Süresi<br />
            <br />
Sosyal Sorumluluk, elde ettiği kişisel verileri, Kullanıcılara Hizmetten en iyi şekilde faydalanabilmeleri için işbu Gizlilik Politikası ve Üyelik Sözleşmesi’nde belirtilen şartlar çerçevesinde ve Üyelik Sözleşmesi’nin mahiyetinden kaynaklanan yükümlülükleri yerine getirebilmesi adına işlendikleri amaç için gerekli olan süre kadar muhafaza edecektir.
Buna ek olarak,Sosyal Sorumluluk, Üyelik Sözleşmesi’nden doğabilecek herhangi bir uyuşmazlık durumunda, uyuşmazlık kapsamında gerekli savunmaların gerçekleştirilebilmesi amacıyla sınırlı olmak üzere ve ilgili mevzuat uyarınca belirlenen zamanaşımı süreleri boyunca kişisel verileri saklayabilecektir.
Veri Güvenliğine İlişkin Önlemlerimiz ve Taahhütlerimiz<br />
            <br />
            Sosyal Sorumluluk, kişisel verilerinizin güvenli bir şekilde korumayı taahhüt eder. Kişisel verilerinizin hukuka aykırı olarak işlenmesini ve erişilmesini engellemek ve kişisel verilerin muhafazasını sağlamak amacıyla uygun güvenlik düzeyini temin etmeye yönelik teknik ve idari tedbirleri çeşitli yöntemler ve güvenlik teknolojileri kullanarak gerçekleştirmektedir. Ayrıca, özel nitelikli kişisel verilerinizi Kurul tarafından belirlenen yeterli önlemlerin alınması ile işlenmektedir.
            Sosyal Sorumluluk, Kullanıcılar hakkında elde ettiği kişisel verileri bu işbu Gizlilik Politikası ve 6698 Sayılı Kişisel Verilerin Korunması Kanunu hükümlerine aykırı olarak başkasına açıklamayacaktır ve işleme amacı dışında kullanmayacaktır. Sosyal Sorumluluk, işbu Gizlilik Politikası hükümleri uyarınca dış kaynak hizmet sağlayıcılarla Kullanıcılar’a ait kişisel verilerin paylaşılması durumunda, söz konusu dış kaynak tedarikçilerinin de işbu madde altında yer alan taahhütlere riayet edeceğini beyan eder.
Ancak Portal üzerinden başka uygulamalara link verilmesi halinde, Sosyal Sorumluluk uygulamaların gizlilik politikaları ve içeriklerine yönelik herhangi bir sorumluluk taşımamaktadır.
Gizlilik Politikası Üzerinde Gerçekleşecek Olan Değişiklikler <br />
            <br />        
            Sosyal Sorumluluk, işbu Gizlilik Politikası hükümlerini dilediği zaman Portal üzerinden yayımlamak suretiyle güncelleyebilir ve değiştirebilir. Sosyal Sorumluluk’in Gizlilik Politikası’nda yaptığı güncelleme ve değişiklikler Portal’da yayınlandığı tarihten itibaren geçerli olacaktır. </span> <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />










    </div>
    <div>








    </div>


</div>






