
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
  
    



        
        
<div class="col-sm-12">

    <div>


        <hr />

        <h2>Hakkımızda</h2>


        <span>  Biz Fırat Üniversitesi Yazılım Mühendisliği Öğrencileri olarak bu siteyi yapmaya karar verdik. <br />
            <br />
        Site Tanımı:<br />

            İnsanların artık kullanmadıkları bir köşede bekleyen ürünlerini ihtiyaç sahibi kişilere ulaştırabileceği bir platformdur. 
        Herkesin rahatlıkla kullanabileceği sade bir görünüme sahip ve kullanışlı bir uygulama geliştirilecektir.
        Kişiler uygulama içinde istedikleri ürünlere hızlı bir şekilde ulaşarak amacını gerçekleştirecektir. <br />

            Kayıtlı kullanıcılar kullanmadıkları ürünleri uygulama platformunda detaylı bilgileri ile yayınlayacak. 
        İhtiyaç sahibi kimseler ise istediği ürün varsa uygulama üzerinde bulacak ve uygulama aracılığı ile ürün sahibi ile iletişime geçerek ürünün yeni sahibi olabilecektir. 
        Gizlilik politikası ve kullanıcı sözleşmeleri ile kişiler arası güvenli bir şekilde yardımlaşma ortamı oluşturulacaktır.<br />
            <br />
            Bu uygulama için hem mobil hem de web uygulaması geliştirilecektir. 
        Mobil uygulamada web uygulamasında olduğu gibi kişilerin ürünlerine ait detaylı bilgiler ve adres bilgileri yer alacaktır ve ürünlere ulaşma yolu hakkında bilgi verilecektir. 
        Bu uygulamada ürünler kategorilere ayrılarak sahiplenilmek istenilen ürünlere daha çabuk ulaşılabilecektir.<br />




            <br />


         Sitenin temel amacı:<br />
        Durumu olmayan insanların ihtiyaçlarını karşılayabilmelerini sağlamaktır. 
        Bu sayede günümüzde bitme noktasına gelmiş toplum içindeki yardımlaşma duygusu yeniden canlanacaktır. İhtiyaç sahibi kişiler hiçbir bedel ödemeden ihtiyacı olan ürüne sahip olarak mutlu olacak. 
        Aynı zamanda eski ürün sahibi kişide ihtiyaç sahibi kişinin mutlu olduğunu görünce kendisine bazı kazanımlar elde etmiş olacak. 
        İkili iletişimlerle insanların birbirine olan güven duygusu artacak ve artık gönül rahatlığıyla yardımlaşabilecektir. Tüm bu olan güzel olaylar neticesinde proje amacına ulaşmış olacaktır.<br />
            
        Sahipsiz evcil hayvanlar, kullanılmayan eski ev eşyaları, antika eşyalar, eğitici kitaplar, romanlar, şiir kitapları, başka değişik türde kitaplar, kullanılmayan elektronik eşyalar ve bunun gibi her türden ürünlere sahip olan kişiler varsa ve bunları sahiplendirecek ihtiyaç sahibi kişiler arıyorsa bu uygulama o türden kişiler için vazgeçilmez bir merkez haline gelebilecektir. 
        İhtiyaç sahibi kişilerde istedikleri ürünün sahibiyle iletişime geçerek bedel ödemeden ürünün yeni sahibi olabilecektir. Böylece insanlar elindeki varlıkları paylaşarak toplumsal dayanışmayı sağlamış olacaktır.  <br />
        <br />  

         Sitemizin Dünyaya ve İnsanlığa hayırlı olması dileğiyle teşekkür ederiz. <br />
            <br />
                Siteyi Geliştirenler: <br />
            
                Abdussamet Keleş - Fırat Üniversitesi Yazılım Mühendisliği 2018<br />

                Abdullah Şahin - Fırat Üniversitesi Yazılım Mühendisliği 2018<br />

                Mehmet Nurullah Koçak - Fırat Üniversitesi Yazılım Mühendisliği 2018
           
        
        
          </span> <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />

        <br />
        <br />
        <br />










    </div>
    <div>








    </div>


</div>






