
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
  


 
   
        
           <div class="col-sm-12">
                 
               <hr />
              <h2>Iletisim</h2>

               <span>  Bu Kısım Sosyal Sorumluluk Projesinin İLETİŞİM kısmıdır....  </span> <br />
               <br />
               <br />
               <br />
               <br />
               <br />
               <br />

               <br />
               <br />
               <br />

               <br />
               <br />
               <br />

               <br />
               <br />
               <br />



  
       </div>

 









  




