
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
  

@model IEnumerable<Sosyal_Sorumluluk_Projesi.Models.urunler>
 
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="left-sidebar">
                <h2>Kategoriler</h2>
                <div class="panel-group category-products">
                    <!--category-productsr-->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"></h4>
                        </div>
                        <div id="" class="panel-collapse collapse">
                            <div class="panel-body">



                            </div>
                        </div>
                    </div>





                    @{
                        Html.RenderAction("KategoriPartial", "Home");
                    }




                </div><!--/category-products-->









            </div>
        </div>

        <div class="col-sm-9 padding-right">
            <div class="features_items">
                <!--features_items-->
                <h2 class="title text-center">Son Eklenen Ürünler</h2> 
                
              @foreach (var urunler in Model)
              {
                <div class="col-sm-5">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <a href="/Urunler/Detay/@urunler.urunID">  <img src="@urunler.resim" class="img-responsive" alt="@urunler.urunAdi" /> </a>
                                <h2>@urunler.urunAdi</h2>
                                

                            </div>

                        </div>

                    </div>
                </div>
              }




              

                

            </div><!--features_items-->

        </div>




    </div>





</div>

